body{
    background-color:mediumpurple;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg-theme-2.jpg");
    background-size: cover;
    justify-content: center;
}

#sum-el{
    margin-left: 50px;
    margin-top: 40px;
}



#add{
    background-color: orchid;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 40px;
    border: none;
}

#subtract{
    background-color: orchid;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 40px;
    border: none;

}

#divide{
    background-color: orchid;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 40px;
    border: none;
}


#multiply{
    background-color: orchid;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 40px;
    border: none;
}

#multiply:hover{
    background-color: mediumorchid;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
}

#divide:hover{
    background-color: mediumorchid;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
}

#subtract:hover{
    background-color: mediumorchid;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
}

#add:hover{
    background-color: mediumorchid;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
}

.input-btn{
    margin-left:150px;
    margin-top: 30px;
}

#Calculator{
    background-color:  #B22222;
    border-radius: 15px;
    width: 250px;
    height: 400px;
    margin: auto;
    box-shadow:  4px 3px 6px rgba(0,0,0,0.3);

}

#white-box{
    background-color: #ffff;
    box-shadow: 4px 3px 6px rgba(0,0,0,0.3);
    border-radius: 20px;
    border: none;
    width: 318px;
    height: auto;
    margin-left: 500px;
    margin-right: 5px;
    margin-top: 40px;
    padding: 20px 20px;
}



#Screen{
    background-color: #6A5ACD;
    height: 100px;
    width: 230px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow:  1px 3px 6px rgba(0,0,0,0.3);
    align-content: center;

}

.sum-output{
    width: 60px;
    height: 60px;
   margin-bottom: 100px;

}





p{
    color: black;
    font-weight: bold;
    font-size: large;

}


